extends layout

block content
  h1= title
  ul.media-list
    each album in disco
      li.media
        p= album
        a.pull-left(href='/album/?album='+album.album_id)
          img.media-object(src=album.small_art_url)
        .media-body
          a(href='/album/?album='+album.album_id)
            h4.media-heading= album.title
          p= album.description

